html, body, #root{
    height: 100%;
}

body {
  background: #1e2440;
  color: #f2efe2;
  font-size: 16px;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Shadows Into Light', cursive;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #f2efe2;
  width: 98vw;
  max-width: 98vw;
  margin: 0 auto;
  border-radius: 0.1rem;
  background: #f2efe2;
  padding: 0.2rem 1rem;
  color: #1e2440;
  /* overflow: scroll; */
  height: 90%;
}
.text-box {
  height:100%;
  overflow: scroll;
}
.text-box:focus {
  outline: none;
}
.text-box textarea {
  width: 100%;
  min-height: 100%;
  border-bottom: 1px dotted black;
  margin: 0px !important;
  background-color: lightblue;
}
.fa {
  color: white;
  background: #1e2440;
  border-radius: 50%;
  cursor: pointer;
  /* margin-top: 1rem; */
  float: right;
  width: 2rem;
  height: 2rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
/* @media (max-width: 768px) {
  .container {
    height:100vh;
    width: 85vw;
    max-width: 85vw;
  } 
.textarea {
    max-height: 90vh;
  }
}
*/
